*{
  margin: 0;
   padding: 0;
    box-sizing: border-box;
}

.calculator {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 20px;
  background-color: aqua;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #000;
}

.expression-display {
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  font-size: 1.5em;
  outline: none;
  border: none;
}

.opertor{
  color: green;
}

.opertorC{
  background-color: red;
}

#plusoperator, #minusoperator, #muiltioperator, #divoperator{
  background-color: green;
}

#equaloperator{
  background-color: rgb(103, 81, 81);
}

#caloperator{
  background-color: red;
}
